.box {
	border: 1px solid black;
	border-radius: 10px;
	margin: 10px;
	padding: 10px;
	width: 42%;
	text-align: center;
}
.button {
	cursor: pointer;
}
.clear {
	clear:both;
}

.playerApproves {
	float:left;
}
.playerRejects {
	float:right;
}
.availableUsers {
	float:left;
	height: 300px;
	overflow-y: auto;
}

.teamSelection .team1 {
	float:right;
}
.team1, .team2 {
	float:left;
	padding:10px;
	margin: 10px 0;
}
.team2 {
	float: right;
}
.user {
	width:auto;
	text-align: center;
	background: #b8c6df;
	background: linear-gradient(to bottom, #b8c6df 0%,#6d88b7 100%);
}

.team1 .user {
	background: #91e842;
	background: linear-gradient(to bottom, #91e842 0%,#d2ff52 100%);
}

.team2 .user {
	background: #ff3019;
	background: linear-gradient(to bottom, #ff3019 0%,#cf0404 100%);
}

.user.empty {
	background: none;
	min-height: 18px;
}

.submit {
	float :left;
	background: #f1da36;
	background: linear-gradient(to bottom, #f1da36 0%,#fefcea 100%);
	margin-top: 10px;
	padding: 5px 0;
	display: none;
}

.user .add {
/**	float: right; need to figure out how to get these to anchor right at some point**/
}